:root {
    --font-family: 'Lexend', sans-serif;
    --font-family-mono: 'MartianMono', monospace;
    --color: aliceblue;
    --color-secondary: #b3b3b3;
    --bg-color-bright: #3d3d3d;
    --bg-color: #181818;
    --bg-color-dim: #141414;
    --bg-color-secondary: #282828;
    --window-border-color: var(--bg-color-dim);
    --marker-bg-color: var(--bg-color);
    --btn-text-color: #fff;
}

button {
    color: #fff;
    border-color: var(--color-secondary) !important;
}