.appear {
    animation-name: appear;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.appear-then-disappear {
    animation: fadeInOut 5s forwards;
    opacity: 0;
}

@keyframes appear {
    0% {
        filter: brightness(0);
    }

    100% {
        filter: brightness(1);
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}