.btn-context-menu {
    filter: brightness(0.65);
}

.btn-context-menu:hover {
    filter: brightness(1);
    background-color: var(--bg-color-2);
}

.btn-gesture-selection {
    filter: brightness(0.65);
}

.btn-gesture-selection:hover {
    filter: brightness(1);
    border-color: var(--fg-color-2);
}

.btn-increment {
    opacity: 0;
}

.btn-increment:hover {
    opacity: 1;
}

.btn-sidebar {
    background-color: transparent;
}

.btn-sidebar:active {
    background-color: var(--bg-color-4) !important;
}

.btn-sidebar:hover {
    opacity: 1;
    background-color: var(--bg-color-2);
}

.btn-sidebar-active {
    box-shadow: 0 0 15px var(--bg-color-0);
    background-color: var(--bg-color-3);
    opacity: 1;
}

.btn-titlebar {
    opacity: 0.65;
}

.btn-titlebar>img {
    aspect-ratio: 1;
}

.btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-icon>img {
    height: 80%;
    aspect-ratio: 1;
}