.context-menu-content {
    background-color: var(--bg-color-1);
    border-color: var(--fg-color-2);
}

.disabled {
    opacity: 0.4;
    filter: brightness(0.4);
    pointer-events: none;
}

.faded {
    opacity: 0.4;
    filter: brightness(0.4);
}

.gesture-checkbox {
    opacity: 0;
}

.select-box {
    border-color: var(--fg-color-1);
}

.select-box:hover {
    border-color: var(--fg-color-2);
}

.gesture-select-box:hover>input {
    opacity: 1;
}

.input-command {
    font-family: MartianMono;
}

.input-name {
    border-color: transparent !important;
}

.input-name:focus {
    border-color: var(--fg-color-2) !important;
}

.point-container {
    position: absolute;
    width: 0;
    height: 0;
}

.sidebar {
    background-color: transparent;
}

.sidebar-container {
    background-color: var(--bg-color-1);
}

.titlebar:active {
    opacity: 1;
}

.titlebar:hover {
    opacity: 1;
}

.marker {
    border-radius: 50px;
    position: absolute;
    width: 4px;
    aspect-ratio: 1;
    rotate: 45deg;
    background-color: var(--marker-bg-color);
    box-shadow: 0 0 2px var(--fg-color-2);
}