.node {
    border-color: var(--color-secondary);
    background-color: var(--bg-color);
}

.node-active {
    border-color: var(--color);
}

.node-inactive {
    border-color: var(--bg-color-bright);
}

.attr-active {
    background-color: var(--bg-color-bright);
}

.svelte-flow .svelte-flow__handle {
    background-color: var(--color);
}

.svelte-flow__background {
    stroke: var(--color-secondary);
    background-color: var(--bg-color);
}

.svelte-flow__connectionline path {
    stroke: var(--color);
}