::selection {
    color: var(--bg-color-2);
    background: var(--fg-color-2);
}

select {
    background: var(--bg-color-1) !important;
    color: var(--fg-color-2) !important;
    border-color: var(--fg-color-1);
}

select option {
    background: var(--bg-color-1) !important;
    color: var(--fg-color-2) !important;
}

input[type="text"] {
    color: var(--fg-color-2) !important;
    background-color: var(--bg-color-1) !important;
    border-color: var(--fg-color-1);
}

input[type="text"]::placeholder {
    opacity: 0.2;
}

input[type="number"] {
    color: var(--fg-color-2) !important;
    background-color: var(--bg-color-2) !important;
    border-color: var(--fg-color-1);
}

input[type="text"]::placeholder {
    color: var(--fg-color-1) !important;
}

body {
    font-family: var(--font-family);
    color: var(--fg-color-2);
    background-color: transparent;
}

button {
    background-color: var(--bg-color-1);
    color: var(--btn-text-color) !important;
    border-color: var(--fg-color-1) !important;
}

button:hover {
    color: var(--fg-color-2);
    border-color: var(--fg-color-2) !important;
}

main {
    background-color: var(--bg-color-1);
    border-color: var(--window-border-color);
}