:root {
    --font-family: 'Lexend', sans-serif;
    --font-family-mono: 'MartianMono', monospace;

    --fg-color-0: #fff;
    --fg-color-1: #ededed;
    --fg-color-2: #dfdfdf;
    --fg-color-3: #c6c6c6;
    --fg-color-4: #afafaf;

    --bg-color-0: #101010;
    --bg-color-1: #181818;
    --bg-color-2: #252525;
    --bg-color-3: #2f2f2f;
    --bg-color-4: #3c3c3c;

    --window-border-color: var(--bg-color-0);

    --marker-bg-color: var(--bg-color-2);

    --btn-fg-color: var(--fg-color-2);
    --btn-bg-color: var(--bg-color-2);
}