@font-face {
    font-family: Lexend;
    src: url(../fonts/Lexend.ttf);
}

@font-face {
    font-family: MartianMono;
    src: url(../fonts/MartianMono.ttf);
}

@font-face {
    font-family: Tektur;
    src: url(../fonts/Tektur.ttf);
}

::-webkit-scrollbar {
    display: none;
}

* {
    box-sizing: border-box;
}

body {
    user-select: none;
    overflow: hidden;
}

img {
    -webkit-user-drag: none;
    pointer-events: none;
}

input {
    cursor: pointer;
}

select {
    cursor: pointer;
}