.btn-add-condition {
    padding: 0.2rem;
    padding-right: 0.4rem;
    padding-left: 0.4rem;
    font-size: 0.6rem;
    border-radius: var(--btn-border-radius-sm);
}

.btn-context-menu>img {
    margin-right: 1rem;
}

.btn-gesture-selection {
    aspect-ratio: 1;
}

.btn-gesture-selection:hover {
    border: solid var(--btn-border-width);
}

.btn-launch {
    border: solid 1px;
}

.btn-launch:hover {
    border: solid 1px;
}

.btn-sidebar {
    border: none;
    border-radius: 0;
    padding-left: 20px;
    height: 4rem;
}

.btn-sidebar>img {
    border: none;
    aspect-ratio: 1;
    width: 32px;
}

.btn-titlebar {
    border: none;
    aspect-ratio: 1;
}

.btn-titlebar>img {
    aspect-ratio: 1;
    width: 28px;
}
