.node-container {
    padding-left: 1rem;
    padding-right: 1rem;
    border: solid calc(var(--btn-border-width) * 2);
    border-radius: calc(var(--btn-border-radius) * 2);
}

.node-container-active {
    border-width: calc(var(--btn-border-width) * 3);
}

.node-label {
    font-size: 1.6rem;
}

.node-label-box {
    padding: 0;
    text-align: center;
}

.svelte-flow .svelte-flow__handle {
    border-radius: calc(var(--btn-border-radius) / 2);
    width: 1rem;
    height: 2rem;
}

.svelte-flow .svelte-flow__handle-left {
    left: 0rem;
}

.svelte-flow .svelte-flow__handle-right {
    right: 0rem;
}

.svelte-flow__background {
    /* margin: -3px; */
    margin-left: -1px;
    /* stroke-width: 10; */
}

.svelte-flow__connectionline path {
    stroke-width: 2;
}

.svelte-flow__edge-path {
    stroke-width: 2;
}