html,
body {
    font-family: Lexend !important;
    color: aliceblue;
    background-color: #181818;
}

.disabled {
    pointer-events: none;
    opacity: 0.4;
}

.faded {
    opacity: 0.4;
}

.link-sidebar {
    text-decoration: none;
    color: aliceblue;
}

.text-sidebar {
    color: aliceblue;
}

.btn-sidebar {
    font-weight: 300;
    opacity: 0.65;
    background-color: transparent;
}

.btn-sidebar:hover {
    opacity: 1;
    background-color: #ffffff14;
}

.btn-sidebar:active {
    opacity: 1;
    background-color: #ffffff54 !important;
}

.sidebar {
    background-color: rgba(15, 15, 15, 0);
}

.titlebar-button {
    opacity: 0.65;
}

.titlebar-button>img {
    aspect-ratio: 1;
}

#titlebar-minimize:hover {
    opacity: 1;
    filter: drop-shadow(0 0 10px rgba(255, 196, 0, 0.6));
}

#titlebar-maximize:hover {
    opacity: 1;
    filter: drop-shadow(0 0 10px rgba(0, 255, 195, 0.6));
}

#titlebar-close:hover {
    opacity: 1;
    filter: drop-shadow(0 0 10px rgba(255, 37, 37, 0.6));
}

.start-banner {
    border-color: #e2e2e2;
    background-color: rgba(18, 18, 18, 0.503);
    box-shadow: 0px 3px 15px #a1a1a15d;
}

.btn-launch {
    font-weight: 500;
    color: #b3b3b3;
}

.btn-launch-stop {
    font-weight: 700;
    color: #2d2d2d;
    background-color: #d4d4d4;
}

.btn-launch-stop:hover {
    color: #2d2d2d;
    background-color: #f3f3f3;
}


/* Svelte Flow */
.svelte-flow .svelte-flow__handle {
    background-color: aliceblue;
}

.svelte-flow .svelte-flow__edge path,
.svelte-flow__connectionline path {
    stroke: aliceblue;
}

.svelte-flow__background {
    stroke: #7f7f7f;
    background-color: #181818;
}

.node-container {
    border-color: aliceblue;
    background-color: #181818;
}