:root {
    --fg-color-4: #3c3c3c;
    --fg-color-3: #2f2f2f;
    --fg-color-2: #252525;
    --fg-color-1: #181818;
    --fg-color-0: #101010;

    --bg-color-4: #afafaf;
    --bg-color-3: #c6c6c6;
    --bg-color-2: #dfdfdf;
    --bg-color-1: #ededed;
    --bg-color-0: #fff;
}